[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
watchdog = "*"
pytest-mock = "*"
pyside6 = "*"
qt-material = "*"
pipfile = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
