[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
watchdog = "*"
pytest-mock = "*"
pipfile = "*"
sqlalchemy = "*"
pyside6 = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
black = "*"
rope = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
